/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-spinner/animations/ball-scale-pulse.css';

.chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p-confirmdialog .p-confirmdialog-icon{
    height: auto !important;
}